<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <LInk href="/css/styles.css" rel="stylesheet">
    </LInk><!--  -->
    <script src="https://kit.fontawesome.com/1e26533911.js" crossorigin="anonymous"></script>
</head>

<body class="index">
    <header class="index__header">
        <div class="mayor">
            <div class="index__header__div--logo">
                <img src="/imagenes/logo-mercado-liebre.svg" alt="logo de mercado liebre">
            </div>
            <div class="index__header__div--boton">
                <form action="">
                    <input type="text" placeholder="Buscar productos, marcas"><button> <i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>


        <div class="index__header__div-p">
            <p> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y con tarjeta de credito </p>
        </div>
        <nav class="index__header__nav">
            <!-- siempre que hay una barra de navegacion seria bueno usar un <div> -->
            <ul type="none">
                <li><a href=""> Ofertas</a></li>
                <li><a href=""> Tiendas Oficiales</a></li>
                <li><a href=""> Vender</a></li>
                <li><a href=""> Ayuda</a></li>
            </ul>
            <ul type="none">
                <li><a href="/register"> Creá tu cuenta</a> <i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login"> Ingresá </a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href=""> Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="index__header__div--burger-menu">
            <button><i class="fa-solid fa-bars"></i></button>
        </div>

    </header>
    <main class="register">
        <form class="create-form" action="" method="post">
            <div class="form__div">
                <h5>Nombre y apellido</h5>
                <input type="text" name="nombre" placeholder="nombre y apellido">
            </div>
            <div class="form__div">
                <h5>Nombre de usuario</h5>
                <input type="text" name="usuarioNombre" placeholder="Nombre de usuario">
            </div>
            <div class="form__div">
                <h5>Fecha de nacimiento</h5>
                <input type="date" name="fecha" min="1900-01-01">
            </div>
            <div class="form__div">
                <h5>Domicilio</h5>
                <input type="text" name="domicilio" placeholder="Domicilio">
            </div>
            <div class="form__div-radio">
                <h5>Perfil del ususario</h5>
                <label for="perfilDeUsuario"><input type="radio" name="perfilDeUsuario" value="comprador"> Comprador
                </label>
                <label for="perfilDeUsuario"><input type="radio" name="perfilDeUsuario" value="vendedor">
                    vendedor</label>
            </div>
            <div class="form__div-checkbox">
                <h5>Categoria de interes</h5>
                <label for=""><input type="checkbox" name="categoriaDeInteres" id=""> Electro</label>
                <label for=""><input type="checkbox" name="categoriaDeInteres" id=""> Moda</label>
                <label for=""><input type="checkbox" name="categoriaDeInteres" id=""> Hogar</label>
                <label for=""><input type="checkbox" name="categoriaDeInteres" id=""> Jugueteria</label>
                <label for=""><input type="checkbox" name="categoriaDeInteres" id=""> Vida sana</label>
            </div>
            <div class="form__div-buscador">
                <h5> Foto de usuario</h5>
                <input class="selecionarArchivo" type="file" name="fotoUsuario" accept=".jpg">
            </div>
            <div class="form__div">
                <h5>Clave de seguridad</h5>
                <input type="password" name="contraceña" placeholder="Ingrese clave de seguridad">
                <input type="password" name="reingresarContraceña" placeholder="Confirme clave de seguridad">
            </div>
            <div class="form__div-button">
                <button type="submit">ENVIAR</button>
                <button type="reset">CANCELAR</button>
            </div>


        </form>
    </main>
    <footer class="index_footer">
        <section class="index_footer_section-pago">

            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="index_footer_section-envio">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="index_footer_section-seguridad">
            <i class="fa-solid fa-user-shield"></i>
            <h4> Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegido</p>
        </section>
        <div class="index_footer_div">
            <p id="g"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div><!-- aca use div porquew en la consigna decia solo 3 secciones. -->
    </footer>

</body>

</html>