*{
    box-sizing: border-box;;
}
.index{background-color: var(--color_Gris_claro);
    

}
.index h3{
    font-size: 24px;
    text-align: left;
    color: var(--color_Gris_oscuro);
}
.index h4{
    font-size: 16px;
    color: var(--color_Gris_oscuro);
}

/* herader del body */
.index__header{
    font-family: 'Roboto';
    font-size: 12px;
    background-color: var(--color_Amarillo);

}
.index__header p{
    text-align: center;
}
.index__header__div--logo img{
    width: 40%;
    padding: 15px;

}
.index__header__div--boton{
    margin-left: 10px;

}

.index__header__nav ul{
padding: 0px;
/* text-decoration:none; */
display: none;
}
.index__header__div--burger-menu{
text-align: center ;
font-size: 20px;

}
.index__header__div--burger-menu button{
    background-color: var(--color_Celeste);
    color: white;
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
/* main */
.index__main{
    
    width: 90%;
    margin: auto;
 
}
.main__section{
    
    /* width: 300px; */
    /* margin: auto; */ /* para version mobile */
}

.index__main__articulo{
    margin:10px;
    line-height:10px;
    border: 1px solid var(--color_Gris_claro);
}
.index__main__articulo--img img{
    width: 100%;
}
.index__main__articulo--datos{
    border: solid var(--color_Gris_claro) 1px;
    padding: 15px;
    background-color: white;
}
.index__main__articulo--datos i{
    color: var(--color_Verde);
}
.index__main__articulo--datos h4{
    display: none;
}
.index__main__articulo--precio{
    font-size: 18px;
}
.index__main__articulo--descuento{
    color: var(--color_Verde);
}
/* footer */
.index_footer{
    text-align: center;
    font-family: 'Roboto';
    margin: 10px;

}
.index_footer i{
    color: var(--color_Celeste);
    margin-bottom: 10px;
   font-size: 2em;


}

 
 
.index_footer_section-pago{

}
.index_footer_section-envio{

}
.index_footer_section-seguridad{

}
.index_footer_div{
    text-align: left;
}


.index_footer_section-pago p{
}

/* tablets */
@media (min-width:768px ){
.index__header__nav ul{
display: block;
    }
.index__header__div--burger-menu{
    display: none;
}
.index__main__articulo{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.index__main__articulo--datos h4{
    display: inline;
    line-height: 30px;
}
}

/* desktop  */
@media (min-width:1024px ){

}